
/* 拼图验证码 */

.jigsaw {
    /* width: 300px; */
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
  }
  
  .imagebox {
    position: relative;
    /* width: 300px; */
    overflow: hidden;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
  }
  
  .imagebox img {
    width: 100%;
  }
  
  .imagebox div {
    display: none;
  }
  
  .jigsawTrack {
    display: flex;
    align-items: center;
    position: relative;
    height: 30px;
    border-radius: 20px;
    margin: 20px 0;
    padding: 4px 0 4px 70px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2) inset;
    background: #f5f5f5;
    user-select: none;
  }
  
  .jigsawTips {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    color: #aaa;
  }
  
  .jigsawCircle {
    position: absolute;
    top: -5px;
    left: 0px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ae99ff;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
  }
  
  .missblock {
    position: absolute;
    left: 10px;
    width: 38px;
    height: 38px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 300px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4), 0 0 10px 0 rgba(90, 90, 90, 0.4);
    z-index: 10;
  }
  
  .targetblock {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4) inset;
  }
  